<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Choose your favourite book!</h1>
            <p class="lead fw-normal text-white-50 mb-0">You are at the best e-library</p>
        </div>
    </div>
</header>
<div th:if="${hasError}">
    <h5 class="text-center text-danger" th:text="${error}"></h5>
</div>





<div class="container">
    <div class="row">
        <div class="col-sm" th:each="item:${items}">
            <div class="card" style="width: 18rem;">
                <img th:src="${item.getImglink()}" width="450px" height="300px"  class="card-img-top" alt="...">
                <div class="text-center">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${item.getTitle()}">Card title</h4>
<!--                        <p class="card-text" th:each="author:${authors}" th:if="${item.getAuthor().contains(author)}"th:text="${author.getName()}+' '+${author.getSurname()}"></p>-->
<!--                        <span class="item-rel" th:each="author:${authors}" th:value="${author.id}" th:text="${author.name}"> [skill.name]</span>-->
                        <h5 class="card-title" th:each="author:${item.author}"  th:value="${author.id}" th:if="${item.getAuthor().contains(author)}" th:text="${author.getName()}+' '+${author.getSurname()}" > [skill.name]</h5>

                        <div  th:text="${item.getPrice()} +'$'">Price</div>
                        <!--                    <a href="/view-item" class="btn btn-primary">View item</a> &lt;!&ndash;ovde bese za add-to-shopCart&ndash;&gt;-->
                        <a  href="/view-item" th:href="@{'/view-item/{id}' (id=${item.getId()})}" th:method="GET" class="btn btn-outline-dark mt-auto">View item</a>
                        <!--                    <form th:action="@{'/view-item/{id}' (id=${item.getId()})}"-->
                        <!--                          th:method="GET">-->
                        <!--                        <button type="submit"-->
                        <!--                                class="btn btn-sm btn-danger delete-product">-->
                        <!--                            <i class="fa fa-trash">View-Item</i>-->
                        <!--                        </button>-->
                        <!--                    </form>-->
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:action="@{'/item/delete/{id}' (id=${item.getId()})}"
                              th:method="DELETE">
                            <button type="submit"
                                    class="btn btn-sm btn-danger delete-item">
                                <i class="fa fa-trash">Delete</i>
                            </button>
                        </form>
                        </th:block>
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <div ><a th:href="@{'/item/edit-form/{id}' (id=${item.getId()})}"
                                class="btn btn-sm btn-info edit-item">
                            <i class="fa fa-trash">Edit</i>
                        </a></div></th:block>
                    </div>
                </div>

            </div></div></div></div>

</th:block>
