<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Choose your favourite book!</h1>
            <p class="lead fw-normal text-white-50 mb-0">You are at the best e-library</p>
        </div>
    </div>
</header>
<div th:if="${hasError}">
    <h5 class="text-center text-danger" th:text="${error}"></h5>
</div>

<!--            <div class="container px-4 px-lg-5 mt-5" >-->
<!--                <div th:each="item:${items}">-->
<!--                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">-->
<!--                    <div class="col mb-5">-->
<!--                        <div class="card h-100">-->
<!--                            &lt;!&ndash; Product image&ndash;&gt;-->
<!--                            <img class="card-img-top" th:src="${item.getImglink()}" alt="..." />-->
<!--                            &lt;!&ndash; Product details&ndash;&gt;-->
<!--                            <div class="card-body p-4" >-->
<!--                                <div class="text-center" >-->
<!--                                    &lt;!&ndash; Product name&ndash;&gt;-->

<!--                                    <h5 class="fw-bolder" th:text="${item.getTitle()}">Fancy Product</h5>-->
<!--                                    &lt;!&ndash; Product price&ndash;&gt;-->
<!--&lt;!&ndash;                                    $40.00 - $80.00&ndash;&gt;-->
<!--                                    <div  th:each="author:${authors}" th:if="${item.getAuthor().contains(author)}"th:text="${author.getName()}+' '+${author.getSurname()}">Fancy author</div>-->
<!--                                    <div  th:text="${item.getPrice()} +'$'">Price</div>-->



<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>-->
<!--                             </div>-->
<!--                         </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->





<div class="container">
    <div class="row">
        <div class="col-sm" th:each="item:${items}">
            <div class="card" style="width: 18rem;">
                <img th:src="${item.getImglink()}" width="450px" height="300px"  class="card-img-top" alt="...">
                <div class="text-center">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${item.getTitle()}">Card title</h4>
<!--                        <p class="card-text" th:each="author:${authors}" th:if="${item.getAuthor().contains(author)}"th:text="${author.getName()}+' '+${author.getSurname()}"></p>-->
<!--                        <span class="item-rel" th:each="author:${authors}" th:value="${author.id}" th:text="${author.name}"> [skill.name]</span>-->
                        <h5 class="card-title" th:each="author:${item.author}"  th:value="${author.id}" th:if="${item.getAuthor().contains(author)}" th:text="${author.getName()}+' '+${author.getSurname()}" > [skill.name]</h5>

                        <div  th:text="${item.getPrice()} +'$'">Price</div>
                        <!--                    <a href="/view-item" class="btn btn-primary">View item</a> &lt;!&ndash;ovde bese za add-to-shopCart&ndash;&gt;-->
                        <a  href="/view-item" th:href="@{'/view-item/{id}' (id=${item.getId()})}" th:method="GET" class="btn btn-outline-dark mt-auto">View item</a>
                        <!--                    <form th:action="@{'/view-item/{id}' (id=${item.getId()})}"-->
                        <!--                          th:method="GET">-->
                        <!--                        <button type="submit"-->
                        <!--                                class="btn btn-sm btn-danger delete-product">-->
                        <!--                            <i class="fa fa-trash">View-Item</i>-->
                        <!--                        </button>-->
                        <!--                    </form>-->
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:action="@{'/item/delete/{id}' (id=${item.getId()})}"
                              th:method="DELETE">
                            <button type="submit"
                                    class="btn btn-sm btn-danger delete-item">
                                <i class="fa fa-trash">Delete</i>
                            </button>
                        </form>
                        </th:block>
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <div ><a th:href="@{'/item/edit-form/{id}' (id=${item.getId()})}"
                                class="btn btn-sm btn-info edit-item">
                            <i class="fa fa-trash">Edit</i>
                        </a></div></th:block>
                    </div>
                </div>

            </div></div></div></div>

</th:block>