<th:block xmlns:th="http://www.thymeleaf.org">
<div class="container" xmlns:th="http://www.thymeleaf.org">
    <form th:method="POST" th:action="@{/login}" class="form-signin mt-xl-5">
        <h2 class="form-signin-heading">Sign in</h2>
        <label for="username" class="sr-only">Username:</label>
        <input type="text" id="username" name="username"  class="form-control"/><br/>
        <label for="password" class="sr-only">Password:</label>
        <input type="password" id="password" name="password" class="form-control" /><br/>

<!--        <div th:if="${hasError}" class="error">-->
<!--            <div th:text="${error}"></div>-->
<!--        </div>-->
        <div th:text="${param.error}" class="text-danger"></div>

        <input type="submit" th:value="Submit" class="btn btn-lg btn-dark btn-block">
    </form>
    <a href="/register" class="btn btn-block btn-light">Register here</a>
</div>
    <br><br><br><br><br><br><br><br><br><br>
</th:block>
