<th:block xmlns:th="http://www.thymeleaf.org">

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Add another item</h1>
            <p class="lead fw-normal text-white-50 mb-0">Fill it with books , encyclopedies and magazines :)</p>
        </div>
    </div>
</header>
<div class="align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <br>
                <br>
                <br>

                <form action="/item/add" method="POST">
                    <input id="id" type="hidden" name="id" th:value="(${item} != null ? ${item.getId()} : '')">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text"
                               class="form-control"
                               id="title"
                               name="title"
                               th:value="(${item} != null ? ${item.getTitle()} : '')"
                               required
                               placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text"
                               class="form-control"
                               id="price"
                               name="price"
                               th:value="(${item} != null ? ${item.getPrice()} : '')"
                               placeholder="Price">
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="text"
                               class="form-control"
                               id="quantity"
                               name="quantity"
                               th:value="(${item} != null ? ${item.getQuantity()} : '')"
                               placeholder="Quantity">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text"
                               class="form-control"
                               id="description"
                               name="description"
                               th:value="(${item} != null ? ${item.getDescription()} : '')"
                               required
                               placeholder="Enter description">
                    </div>
                    <div class="form-group">
                        <label for="imglink">Img-link</label>
                        <input type="text"
                               class="form-control"
                               id="imglink"
                               name="imglink"
                               th:value="(${item} != null ? ${item.getImglink()} : '')"
                               required
                               placeholder="Copy image address">
                    </div>
                    <div>
                        <label>Type</label><br/>
                        <select id="f4" name="category">
                            <!-- For each type you should have one <option> like below  -->
                            <option th:each="type: ${categories}"  th:selected="${item!=null ? item.getCategory().toString().equals(type.toString()):null}"
                                    th:value="${type}" th:text="${type.name}"> [type_name]</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Publisher</label>
                        <select name="publisherId" class="form-control">
                            <option th:if="${item} != null"
                                    th:selected="${item.getPublisher() != null &&
                                    item.getPublisher().getId() == cat.getId()}"
                                    th:each="cat : ${publishers}"
                                    th:value="${cat.getId()}"
                                    th:text="${cat.getName()}">
                            </option>
                            <option th:if="${item} == null"
                                    th:each="cat : ${publishers}"
                                    th:value="${cat.getId()}"
                                    th:text="${cat.getName()}">
                            </option>
                        </select>
                    </div>
                    <div>
                        <label>Author</label><br/>
                        <select id="f5" name="authorId">
                            <!-- For each skill you should have one <option> like below  -->
                            <option th:each="author:${authors}" th:selected="${item!=null ?  item.getAuthor().contains(author):null}"
                                    th:value="${author.id}" th:text="${author.name}"> [skill.name]</option>
                        </select>
                    </div>

                    <button id="submit" type="submit" class="btn btn-dark">Submit</button>
                    <a type="button" class="btn btn-dark" href="/item">Back</a>
                </form>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</th:block>
