<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="utf-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />-->
<!--    <meta name="description" content="" />-->
<!--    <meta name="author" content="" />-->
<!--    <title>Shop Homepage - Start Bootstrap Template</title>-->
<!--    &lt;!&ndash; Favicon&ndash;&gt;-->
<!--    &lt;!&ndash;        <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}" />&ndash;&gt;-->
<!--    &lt;!&ndash; Bootstrap icons&ndash;&gt;-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />-->
<!--    &lt;!&ndash;         Core theme CSS (includes Bootstrap)&ndash;&gt;-->
<!--    &lt;!&ndash;        <link th:href="@{static/css/styles1.css}" rel="stylesheet" />&ndash;&gt;-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384- -->
<!--1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
<!--</head>-->

<!--<body>-->
<!--&lt;!&ndash; Navigation&ndash;&gt;-->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <div class="container px-4 px-lg-5">-->
<!--        <a class="navbar-brand" href="#!">Start Bootstrap</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>-->
<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">-->
<!--                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Home</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="/item">About Items</a></li>-->
<!--                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/item/add-form">Add-item</a></li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <li><a class="dropdown-item" href="#!">All Products</a></li>-->
<!--                        <li><hr class="dropdown-divider" /></li>-->
<!--                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>-->
<!--                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/shopping-cart">Shopping-Cart</a></li>-->

<!--            </ul>-->
<!--            &lt;!&ndash;                    <form class="d-flex">&ndash;&gt;-->
<!--            &lt;!&ndash;                        <button class="btn btn-outline-dark" type="submit" href="/shopping-cart">&ndash;&gt;-->
<!--            &lt;!&ndash;                            <i class="bi-cart-fill me-1"></i>&ndash;&gt;-->
<!--            &lt;!&ndash;                            Cart&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;                        </button>&ndash;&gt;-->
<!--            &lt;!&ndash;                    </form>&ndash;&gt;-->
<!--            &lt;!&ndash;                    <div class="d-flex">&ndash;&gt;-->
<!--            &lt;!&ndash;                        <button class="nav-item btn btn-outline-dark" href="/shopping-cart">Shopping-Cart</a></button>&ndash;&gt;-->
<!--            &lt;!&ndash;                    </div>&ndash;&gt;-->

<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<!--&lt;!&ndash; Header&ndash;&gt;-->
<!--<header class="bg-dark py-5">-->
<!--    <div class="container px-4 px-lg-5 my-5">-->
<!--        <div class="text-center text-white">-->
<!--            <h1 class="display-4 fw-bolder">Add another item</h1>-->
<!--            <p class="lead fw-normal text-white-50 mb-0">Fill it with books , encyclopedies and magazines :)</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->
<!--<div class="align-items-center">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-5">-->
<!--                <br>-->
<!--                <br>-->
<!--                <br>-->

<!--                <form action="/item/add" method="POST">-->
<!--                    <input id="id" type="hidden" name="id" th:value="(${item} != null ? ${item.getId()} : '')">-->
<!--                    <div class="form-group">-->
<!--                        <label for="title">Title</label>-->
<!--                        <input type="text"-->
<!--                               class="form-control"-->
<!--                               id="title"-->
<!--                               name="title"-->
<!--                               th:value="(${item} != null ? ${item.getTitle()} : '')"-->
<!--                               required-->
<!--                               placeholder="Enter title">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="price">Price</label>-->
<!--                        <input type="text"-->
<!--                               class="form-control"-->
<!--                               id="price"-->
<!--                               name="price"-->
<!--                               th:value="(${item} != null ? ${item.getPrice()} : '')"-->
<!--                               placeholder="Price">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="quantity">Quantity</label>-->
<!--                        <input type="text"-->
<!--                               class="form-control"-->
<!--                               id="quantity"-->
<!--                               name="quantity"-->
<!--                               th:value="(${item} != null ? ${item.getQuantity()} : '')"-->
<!--                               placeholder="Quantity">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="description">Description</label>-->
<!--                        <input type="text"-->
<!--                               class="form-control"-->
<!--                               id="description"-->
<!--                               name="description"-->
<!--                               th:value="(${item} != null ? ${item.getDescription()} : '')"-->
<!--                               required-->
<!--                               placeholder="Enter description">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="imglink">Img-link</label>-->
<!--                        <input type="text"-->
<!--                               class="form-control"-->
<!--                               id="imglink"-->
<!--                               name="imglink"-->
<!--                               th:value="(${item} != null ? ${item.getImglink()} : '')"-->
<!--                               required-->
<!--                               placeholder="Copy image address">-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <label>Type</label><br/>-->
<!--                        <select id="f4" name="category">-->
<!--                            &lt;!&ndash; For each type you should have one <option> like below  &ndash;&gt;-->
<!--                            <option th:each="type: ${categories}"  th:selected="${item!=null ? item.getCategory().toString().equals(type.toString()):null}"-->
<!--                                    th:value="${type}" th:text="${type.name}"> [type_name]</option>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <label>Publisher</label>-->
<!--                        <select name="publisherId" class="form-control">-->
<!--                            <option th:if="${item} != null"-->
<!--                                    th:selected="${item.getPublisher() != null &&-->
<!--                                    item.getPublisher().getId() == cat.getId()}"-->
<!--                                    th:each="cat : ${publishers}"-->
<!--                                    th:value="${cat.getId()}"-->
<!--                                    th:text="${cat.getName()}">-->
<!--                            </option>-->
<!--                            <option th:if="${item} == null"-->
<!--                                    th:each="cat : ${publishers}"-->
<!--                                    th:value="${cat.getId()}"-->
<!--                                    th:text="${cat.getName()}">-->
<!--                            </option>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    &lt;!&ndash;          <div class="form-group">&ndash;&gt;-->
<!--                    &lt;!&ndash;            <label>Author</label>&ndash;&gt;-->
<!--                    &lt;!&ndash;            <select name="author" class="form-control">&ndash;&gt;-->
<!--                    &lt;!&ndash;              <option th:if="${item} != null"&ndash;&gt;-->
<!--                    &lt;!&ndash;                      th:selected="${item.getAuthor() != null &&&ndash;&gt;-->
<!--                    &lt;!&ndash;                                item.getAuthor().getId()== cat.getId()}"&ndash;&gt;-->
<!--                    &lt;!&ndash;                      th:each="cat : ${authors}"&ndash;&gt;-->
<!--                    &lt;!&ndash;                      th:value="${cat.getId()}"&ndash;&gt;-->
<!--                    &lt;!&ndash;                      th:text="${cat.getName()}">&ndash;&gt;-->
<!--                    &lt;!&ndash;              </option>&ndash;&gt;-->
<!--                    &lt;!&ndash;              <option th:if="${item} == null"&ndash;&gt;-->
<!--                    &lt;!&ndash;                      th:each="cat : ${authors}"&ndash;&gt;-->
<!--                    &lt;!&ndash;                      th:value="${cat.getId()}"&ndash;&gt;-->
<!--                    &lt;!&ndash;                      th:text="${cat.getName()}">&ndash;&gt;-->
<!--                    &lt;!&ndash;              </option>&ndash;&gt;-->
<!--                    &lt;!&ndash;            </select>&ndash;&gt;-->
<!--                    &lt;!&ndash;          </div>&ndash;&gt;-->
<!--                    &lt;!&ndash;          <div class="form-group">&ndash;&gt;-->
<!--                    &lt;!&ndash;            <label>Manufacturer</label>&ndash;&gt;-->
<!--                    &lt;!&ndash;            <select name="manufacturer" class="form-control">&ndash;&gt;-->
<!--                    &lt;!&ndash;              <option th:if="${product} != null"&ndash;&gt;-->
<!--                    &lt;!&ndash;                      th:selected="${product.getManufacturer() != null && product.getManufacturer().getId() == man.getId()}"&ndash;&gt;-->
<!--                    &lt;!&ndash;                      th:each="man : ${manufacturers}"&ndash;&gt;-->
<!--                    &lt;!&ndash;                      th:value="${man.getId()}"&ndash;&gt;-->
<!--                    &lt;!&ndash;                      th:text="${man.getName()}">&ndash;&gt;-->
<!--                    &lt;!&ndash;              </option>&ndash;&gt;-->
<!--                    &lt;!&ndash;              <option th:if="${product} == null"&ndash;&gt;-->
<!--                    &lt;!&ndash;                      th:each="man : ${manufacturers}"&ndash;&gt;-->
<!--                    &lt;!&ndash;                      th:value="${man.getId()}"&ndash;&gt;-->
<!--                    &lt;!&ndash;                      th:text="${man.getName()}">&ndash;&gt;-->
<!--                    &lt;!&ndash;              </option>&ndash;&gt;-->
<!--                    &lt;!&ndash;            </select>&ndash;&gt;-->
<!--                    &lt;!&ndash;          </div>&ndash;&gt;-->
<!--                    <button id="submit" type="submit" class="btn btn-dark">Submit</button>-->
<!--                    <a type="button" class="btn btn-dark" href="/item">Back</a>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--        <br>-->
<!--        <br>-->
<!--        <br>-->
<!--    </div>-->




<!--    &lt;!&ndash; Footer&ndash;&gt;-->
<!--    <footer class="py-5 bg-dark">-->
<!--        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; e-Library 2022</p></div>-->
<!--    </footer>-->
<!--    &lt;!&ndash; Bootstrap core JS&ndash;&gt;-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>-->
<!--    &lt;!&ndash; Core theme JS&ndash;&gt;-->
<!--    <script src="js/scripts.js"></script>-->
<!--</body>-->
<!--</html>-->

<th:block xmlns:th="http://www.thymeleaf.org">

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Add another item</h1>
            <p class="lead fw-normal text-white-50 mb-0">Fill it with books , encyclopedies and magazines :)</p>
        </div>
    </div>
</header>
<div class="align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <br>
                <br>
                <br>

                <form action="/item/add" method="POST">
                    <input id="id" type="hidden" name="id" th:value="(${item} != null ? ${item.getId()} : '')">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text"
                               class="form-control"
                               id="title"
                               name="title"
                               th:value="(${item} != null ? ${item.getTitle()} : '')"
                               required
                               placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text"
                               class="form-control"
                               id="price"
                               name="price"
                               th:value="(${item} != null ? ${item.getPrice()} : '')"
                               placeholder="Price">
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="text"
                               class="form-control"
                               id="quantity"
                               name="quantity"
                               th:value="(${item} != null ? ${item.getQuantity()} : '')"
                               placeholder="Quantity">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text"
                               class="form-control"
                               id="description"
                               name="description"
                               th:value="(${item} != null ? ${item.getDescription()} : '')"
                               required
                               placeholder="Enter description">
                    </div>
                    <div class="form-group">
                        <label for="imglink">Img-link</label>
                        <input type="text"
                               class="form-control"
                               id="imglink"
                               name="imglink"
                               th:value="(${item} != null ? ${item.getImglink()} : '')"
                               required
                               placeholder="Copy image address">
                    </div>
                    <div>
                        <label>Type</label><br/>
                        <select id="f4" name="category">
                            <!-- For each type you should have one <option> like below  -->
                            <option th:each="type: ${categories}"  th:selected="${item!=null ? item.getCategory().toString().equals(type.toString()):null}"
                                    th:value="${type}" th:text="${type.name}"> [type_name]</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Publisher</label>
                        <select name="publisherId" class="form-control">
                            <option th:if="${item} != null"
                                    th:selected="${item.getPublisher() != null &&
                                    item.getPublisher().getId() == cat.getId()}"
                                    th:each="cat : ${publishers}"
                                    th:value="${cat.getId()}"
                                    th:text="${cat.getName()}">
                            </option>
                            <option th:if="${item} == null"
                                    th:each="cat : ${publishers}"
                                    th:value="${cat.getId()}"
                                    th:text="${cat.getName()}">
                            </option>
                        </select>
                    </div>

                    <!--          <div class="form-group">-->
                    <!--            <label>Author</label>-->
                    <!--            <select name="author" class="form-control">-->
                    <!--              <option th:if="${item} != null"-->
                    <!--                      th:selected="${item.getAuthor() != null &&-->
                    <!--                                item.getAuthor().getId()== cat.getId()}"-->
                    <!--                      th:each="cat : ${authors}"-->
                    <!--                      th:value="${cat.getId()}"-->
                    <!--                      th:text="${cat.getName()}">-->
                    <!--              </option>-->
                    <!--              <option th:if="${item} == null"-->
                    <!--                      th:each="cat : ${authors}"-->
                    <!--                      th:value="${cat.getId()}"-->
                    <!--                      th:text="${cat.getName()}">-->
                    <!--              </option>-->
                    <!--            </select>-->
                    <!--          </div>-->
                    <!--          <div class="form-group">-->
                    <!--            <label>Manufacturer</label>-->
                    <!--            <select name="manufacturer" class="form-control">-->
                    <!--              <option th:if="${product} != null"-->
                    <!--                      th:selected="${product.getManufacturer() != null && product.getManufacturer().getId() == man.getId()}"-->
                    <!--                      th:each="man : ${manufacturers}"-->
                    <!--                      th:value="${man.getId()}"-->
                    <!--                      th:text="${man.getName()}">-->
                    <!--              </option>-->
                    <!--              <option th:if="${product} == null"-->
                    <!--                      th:each="man : ${manufacturers}"-->
                    <!--                      th:value="${man.getId()}"-->
                    <!--                      th:text="${man.getName()}">-->
                    <!--              </option>-->
                    <!--            </select>-->
                    <!--          </div>-->
                    <button id="submit" type="submit" class="btn btn-dark">Submit</button>
                    <a type="button" class="btn btn-dark" href="/item">Back</a>
                </form>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</th:block>